@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
	background-image: url("/img/background.jpeg");
}

#content{
	color: black;
}

form{
	    margin: 0;
}

.login-help{
  font-size: 12px;
}

.vertical-offset-100{
	margin-top: 100px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.no-top-margin{
	margin-top: 0px;
}

.panel-title {
    font-size: 20px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.color_exp_red{
	color: #DA3E52 !important;
}

.color_exp_yellow{
	color: #F2E94E !important;
}

.color_exp_green{
	color: #96E6B3 !important;
}

.navbar-default .navbar-brand {
    color: #DA3E52;
}

.loader{
	height: 120px;
	width: 120px;
	background-image: url("/img/pacman.gif");
	margin: 0 auto;
}

.miniLoader {
    height: 15px;
    width: 15px;
    display: none;
    margin: 0 auto;
}

#result_container table tr:hover td {
	background-color: #DA3E52;
	color: white;
	cursor: pointer;
}

.pdi_icon{
	height: 50px;
	width: 50px;
}