* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    padding: 0 0 40px;
    color: #333;
    background: #f9f9f9;
}

h1, h2, h3, h4 {
    font-family: monospace;
    font-weight: 300;
    color: #444;
}

small {
    color: #555;
}

header {
    background: #274555;
    border-bottom: 5px solid #ff7761;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.6);
}

nav {
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

nav #menu {
    margin-top: 20px;
    float: right;
}

a {
    text-decoration: none;
    color: #ff7761;
}

#menu li {
    float: left;
    margin: 0 10px;
}

#menu li a, #logout {
    background: transparent;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}

#logo {
    max-height: 50px;
}

#chooseLanguage {
    top: 15px;
    right: 35px;
    position: absolute;
}

#chooseLanguage li {
    float: left;
}

#chooseLanguage button {
    cursor: pointer;
    margin-left: 8px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    opacity: 0.6;
    border: 1px solid #222;
    background-size: 100%;
}

#chooseLanguage button:hover {
    opacity: 0.8;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

#content {
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    background: #fff;
    border-top: 1px solid #f9a11b;
    font-size: 14px;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Needlessly fancy menu hover effect */

#menu li {
    position: relative;
}

#menu li a::after, #logout:after {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

#logout:hover::after,
#logout:focus::after,
#menu li a:hover::after,
#menu li a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

/* Very basic grid */
.row {
    width: 100%;
    overflow: auto;
}

.row > * {
    float: left;
}

.row-2 .col {
    width: 49%
}

.row-2 .col:nth-child(odd) {
    margin: 0% 1% 0% 0%
}

.row-2 .col:nth-child(even) {
    margin: 0% 0% 0% 1%
}

.row-3 .col {
    width: 32%
}

.row-3 .col:nth-child(3n+1) {
    margin: 0% 1% 0% 0%
}

.row-3 .col:nth-child(3n+2) {
    margin: 0% 1% 0% 1%
}

.row-3 .col:nth-child(3n+3) {
    margin: 0% 0% 0% 1%
}

@media screen and (max-width: 550px) {
    .row .col:nth-child(n) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.col img {
    display: block;
    width: 100%;
}

/* Book related stuff */

a.book {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

a.book:hover {
    background: #e2e9f5;
}

a .bookCover {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a .bookCover img {
    border-radius: 5px;
    min-height: 200px;
    max-height: 200px;
    width: auto;
}

.bookCover img {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Login Form */

#loginForm {
    max-width: 400px;
    margin: 0 auto;
}

#loginForm label {
    display: block;
    width: 100%
}

#loginForm input {
    border: 1px solid #ddd;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0 20px 0;
}

#loginForm input[type="submit"] {
    color: white;
    background: #274555;
    border: 0;
    cursor: pointer;
}

.notification {
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 3px;
}

.good.notification {
    background: #008900;
}

.bad.notification {
    background: #bb0000;
}

.color_exp_red{
	color: #DA3E52 !important;
}

.color_exp_yellow{
	color: #F2E94E !important;
}

.color_exp_green{
	color: #96E6B3 !important;
}

.navbar-default .navbar-brand {
    color: #F2E94E;
}
